body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#cityInput {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#fetchWeatherBtn {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#fetchWeatherBtn:hover {
    background-color: #45a049;
}

#weatherContainer {
    margin-top: 20px;
}

#currentWeather,
#forecast {
    margin-top: 20px;
}

.weatherIcon {
    width: 50px;
    height: 50px;
}


.forecast-day {
    height: 190px;
    width: 190px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    background-color: #f9f9f9;
}

.forecast-day p{
    margin: 10px auto;
}

@media only screen and (max-width: 480px) {
    #cityInput {
        width: calc(100% - 80px);
    }
}
